@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import 'global-styles/variables';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

//body {
//  color: $secondary;
//}

.container-wrapper {
// Important because boostrap has its own property of height for container
height: calc(100vh - 80px) !important;
}

.navbar {
  height: 80px;
}

